:root {
  --dark-background: #000210;
  --dark-background-half: #00021080;
  --alt-dark-background: #808080;
  --alt-dark-background-half: #80808020;
  --light-background: #f8f8f8;
  --light-background-half: #f8f8f880;
  --alt-light-background: #7f7f7f;
  --alt-light-background-half: #7f7f7f20;
}
@media (prefers-color-scheme: dark) {
  background {
    background-color: var(--dark-background);
  }
  #issues-container > div,
  .preview,
  html {
    background-color: var(--dark-background);
    border-color: var(--alt-dark-background-half);
  }
  #issues-container > div,
  .preview > .preview-content {
    box-shadow: inset 0 0 24px #0080ff08;
  }
  .toolbar.ready {
    background-color: var(--dark-background-half);
  }
  body.preview-active button#github-login-button.highlight {
    animation: highlight-dark-mode 1s ease-in-out infinite alternate;
  }
  .grid-loaded #bottom-bar {
    background-color: var(--dark-background-half);
  }
  #issues-container::after {
    filter: blur(0) drop-shadow(0 0 8px #fff);
  }
  .preview-body::-webkit-scrollbar-track {
    background: var(--dark-background);
  }
  .preview-body::-webkit-scrollbar-thumb {
    background-color: var(--light-background-half);
  }
  .preview-body::-webkit-scrollbar-thumb:hover {
    background-color: var(--light-background);
  }
  .preview td,
  .preview th {
    border: 1px solid var(--alt-dark-background);
  }
  .preview tr:nth-child(even) {
    background-color: var(--alt-dark-background-half);
  }
}
@media (prefers-color-scheme: light) {
  #issues-container::after {
    filter: blur(0);
  }
  #issues-container > div,
  .preview > .preview-content {
    box-shadow: inset 0 0 24px #00000008;
  }
  #grid {
    filter: invert(1);
  }
  #issues-container > div,
  .preview {
    background-color: var(--light-background);
  }
  .toolbar.ready {
    background-color: var(--light-background-half);
  }
  .grid-loaded #bottom-bar {
    background-color: var(--light-background-half);
  }
  body.preview-active button#github-login-button.highlight {
    animation: highlight-light-mode 1s ease-in-out infinite alternate;
  }
  .grid-loaded background .gradient {
    opacity: 0;
    animation: none;
    background-image: none;
  }
  .preview-body::-webkit-scrollbar-track {
    background: var(--light-background);
  }
  .preview-body::-webkit-scrollbar-thumb {
    background-color: var(--dark-background-half);
  }
  .preview-body::-webkit-scrollbar-thumb:hover {
    background-color: var(--dark-background);
  }
  .preview td,
  .preview th {
    border: 1px solid var(--alt-light-background);
  }
  .preview tr:nth-child(even) {
    background-color: var(--alt-light-background-half);
  }
}
@keyframes highlight-dark-mode {
  from {
    background-color: grey;
    box-shadow: 0 0 24px 0 grey;
  }
  to {
    background-color: #000;
  }
}
@keyframes highlight-light-mode {
  from {
    background-color: #bfbfbf;
  }
  to {
    background-color: #fff;
    box-shadow: 0 0 24px 12px #fff;
  }
}
.pull-refresh-indicator {
  opacity: 0;
  height: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: visible;
  transition:
    height 0.2s ease-out,
    opacity 0.2s ease-out;
  pointer-events: none;
  width: 100%;
}
.pull-refresh-spinner {
  width: 44px;
  height: 44px;
  border: 4px solid #ffffff40;
  border-top: 4px solid #fff;
  border-radius: 50%;
  opacity: 1;
  transition: filter 0.2s ease-in-out;
  animation: spin 1.5s cubic-bezier(1, 0, 1, 1) infinite alternate;
  pointer-events: none;
}
@media (prefers-color-scheme: light) {
  .pull-refresh-indicator.refreshing .pull-refresh-spinner {
    filter: blur(0);
  }
}
@media (prefers-color-scheme: dark) {
  .pull-refresh-indicator.refreshing .pull-refresh-spinner {
    filter: blur(0) drop-shadow(0 0 8px #fff);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  75% {
    transform: rotate(5400deg);
    border-bottom-color: #fff;
  }
  100% {
    transform: rotate(7200deg);
    border-color: #fff;
  }
}
@keyframes fadeOut {
  0% {
    filter: opacity(1);
  }
  100% {
    filter: opacity(0);
    border-color: transparent;
  }
}
